{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    
    {% block title  %}
        <title>base</title>
    {% endblock title  %}
        
</head>
<body>

    <header>
        <h1>Mon Blog Letrone</h1>
        <nav>
            <p><a href="{% url 'home' %}">Home</a></p>
            <p><a href="{% url 'articles' %}">Articles</a></p>
            <p><a href="{% url 'new-article' %}">New Article</a></p>
        </nav>
    </header>
    
    {% block content %}
        
    {% endblock content %}
        
    
</body>
</html>